/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

ul {
  list-style-type: none;
}

body, button {
  font-family: "Source Code Pro", Monaco, monospace;
}

.cell {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;

  border-radius: 0;
  border: black solid 1px;
}

.cell span {
  display: block;
  text-align: center;
  line-height: 1em;
}

.cell.number {
  font-weight: bold;
  background-color: #3ddb3d;
}

.cell.flagged {
  background-color: lightblue;
}

.cell.mine {
  background-color: lightcoral;
}

.cell.hidden {
  background-color: lightgray;
}

.cell {
  background-color: lightgreen;
}
